.login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FORM STYLE */
form {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    padding: 70px;
    border-radius: 40px;
    border: solid 2px #012E82;
    width: 100%;
    box-shadow: 1px 1px 1px  #012E82;

    /* HEADER OF FROM STYLE  */
    .header-of-form {
        display: flex;
        flex-flow: column wrap;
        gap: 6px;
        text-align: center;
        align-items: center;
        margin-bottom: 30px;

        img {
            width: 120px;
            height: 120px;
            object-fit: cover;
        }

        p {
            color: rgb(104, 102, 102);
            font-weight: lighter;
        }
    }

    /* INPUT GROUP [EMAIL,PASSWORD] STYLE */
    .input-group {
        display: flex;
        flex-flow: column wrap;
        gap: 40px;
        width: 100%;
        margin-bottom: 20px;

        .email-input,
        .password-input {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;

            input {
                padding: 14px;
                border-radius: 10px;
                border: solid 1px #012E82;
                width: 300px;
                padding-left: 40px;

            }

            img {
                width: 22px;
                height: 22px;
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
    }

    /* FORGET PASSWORD LINK  STYLE */
    a {
        text-align: end;
        color: #012E82;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    /* LOGIN BUTTON STYLE  */
    .login-button {
        padding: 14px;
        background-color: #012E82;
        color: aliceblue;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        margin: 20px 0;
        transition-duration: 0.5s;

        img {
            width: 22px;
            height: 22px;
        }
        button{
            background-color: transparent;
            color: white;
            border: none;
            font-size: medium;
            font-weight: bold;
        }
    }
    .login-button:hover{
        background-color: #0340b0;
        cursor: pointer;
    }
    /* CRATE ACCOUNT LINK STYLE */
    p{
        text-align: center;
        font-size: medium;
    }
}